.search-form {
	width: 100%;
	text-align: center;
	margin-top: 160px
}
.search-form input {
	margin-top: 15px;
}
.search-form input[type="text"] {
	font-size: 14pt;
	width: 580px;
	margin-top: 25px;
}

/* Why doesn't this work? */
.search-form input[type="submit"] {
	margin-right: 10px;
}
.navbar {
	background: #292929;
	color: #c4c4c4;
	font-family: sans-serif;
	font-size: 10pt;
	padding: 8px;
	padding-left: 6px;
}
.navbar li {
	display: inline;
}
.navbar a { 
	color: inherit;
	text-decoration: inherit;
	padding: 7px 4px;
}
.navbar a.active {
	font-weight: bold;
	color: #fff;
	border-top: #c42349 solid 2px;
	padding-top: 6px;
}
.navbar a:hover {
	background: #494949;
}

.navbar .right-nav {
	position: absolute;
	right: 6px;
	top: 8px;
}

.navbar .right-nav li:first-child {
	border-right: #777 solid 1px;
}